@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

$color_green: #4CAF50;
$color_red: rgb(168, 46, 46);
$color_black: #000000;
$color_gray: rgb(117, 104, 99);
$color_footer: #f48c90;

%tplFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%tplFlexFitContent {
  display: flex;
  width: inherit;
  height: fit-content;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-content {
      flex: 1 0 auto;
      background-image: url('../../resources/img/background.png');
      background-position: center;
      background-size: cover;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: calc(100% - 40px);
  font-family: Roboto;

  &.header-container {
    @extend %tplFlexCenter;
    height: fit-content;
    font-size: 16px;
    line-height: 50px;
  }

  &.main-container {
    .section-creating {
      @extend %tplFlexCenter;
      flex-direction: row;
      gap: 30px;

      &-btns-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      &-textarea {
        @include wh(80%, 200px);
        padding: 20px;
        font-size: 24px;
        resize: none;
        background:transparent;
      }
    }

    .section-tags,
    .tags-list {
      @extend %tplFlexFitContent;
      flex-wrap: wrap;

      .tags-list {
        margin: 20px;
      }

      .tag {
        @extend %tplFlexCenter;
        height: 30px;
        flex-direction: row;
        margin: 10px;
        padding: 7px;
        cursor: pointer;

        .hash {
          height: inherit;
        }
      }
    }

    .section-notes,
    .notes-list {
      @extend %tplFlexFitContent;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;

      .note {
        @extend %tplFlexFitContent;
        flex-direction: column;
        margin: 0 20px;
        padding: 10px;

        &-btns-wrapper {
          display: flex;
          align-self: flex-end;
          gap: 10px;
        }
      }
    }
  }
}

.main {
  @extend %tplFlexFitContent;
  margin-bottom: 20px;

  .btn {
    display: flex;
    position: relative;
    @include wh(50px, 30px);
    border-radius: 12px;
    border: 2px solid $color_green;
    cursor: pointer;
    background:transparent;

    &:hover {
      border: 2px solid $color_red;
    }

    &:hover .tooltiptext {
      opacity: 1;
    }

    &:active {
      background-color: $color_red;
    }

    &.creating-btn {
      height: 50px;
    }

    &.creating-btn .tooltiptext {
      transform: translate(-50%, 120%);
    }

    &.tag-btn {
      @include wh(30px, 20px);
      margin-left: 10px;
    }

    img {
      @include wh(100%, 100%);
    }
  }

  .tooltiptext {
    opacity: 0;
    width: 100px;
    background-color: $color_black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    transition-property: opacity;
    transition: 0.3s;
    z-index: 1;
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition-property: box-shadow;
    transition: 0.2s;
    border: 2px solid transparent;

    &:focus,
    &.active {
      border: 2px solid;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
  }
}

.footer {
  display: flex;
  flex: 0 0 auto;
  height: 60px;
  padding: 0 2%;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
  background-color: $color_footer;

  &-container {
    @extend %tplFlexCenter;

    .github {
      @extend %tplFlexCenter;
      flex-direction: row;
      gap: 10px;
      color: $color_black;
      transition: 0.3s;

      & svg {
        height: 45px;
      }

      &:hover {
        color: $color_gray;
      }
    }
  }
}